.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.portfolio.dark-mode {
  /* Add dark mode styles here */
}

.portfolio-heading {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.project-link {
  text-decoration: none;
  color: inherit; /* Inherit color */
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: var(--dark-orange);
}

/* Media Query for devices with max-width of 480px */
@media screen and (max-width: 480px) {
  .portfolio-heading {
    margin-top: -19rem;
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .portfolio-slider {
    margin-top: 2rem; /* Reduced margin-top for smaller screens */
  }

  .project-link {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}

/* Media Query for devices with max-width of 720px */
@media screen and (max-width: 720px) {
  .portfolio-heading {
    font-size: 1.8rem; /* Adjusted font size for medium screens */
  }

  .project-link {
    font-size: 1.1rem; /* Adjusted font size for medium screens */
  }
}

/* Media Query for devices with max-width of 1440px */
@media screen and (max-width: 1440px) {
  /* Add your styles for screens up to 1440px if needed */
}
