.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Media Query for devices with max-width of 480px */
@media screen and (max-width: 480px) {
  .portfolio {
    margin-top: -12rem; /* Reduce margin top */
    margin-bottom: 10rem; /* Increase margin bottom */
  }

  .portfolio-slider {
    margin-top: 1rem; /* Adjust margin top for the slider */
  }
}

/* Media Query for devices with max-width of 780px */
@media screen and (max-width: 780px) {
  .portfolio-slider .swiper-slide {
    width: calc(50% - 1rem);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

/* Media Query for devices with max-width of 1040px */
@media screen and (max-width: 1040px) {
  .portfolio-slider .swiper-slide {
    width: calc(33.3333% - 1rem);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
